@import '../../styles/breakpoints';

.content-area {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 4em;

  & > div {
    flex: 1;
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    justify-content: unset;
  }
}
