.schoolList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 450px));
  gap: 1em;
  justify-content: center;
}

.schoolFilter {
  display: flex;
  gap: 2em;
  justify-content: center;
  #schoolSearch {
    max-width: 300px;
  }

  #schoolSort {
    max-width: 200px;
  }
}
