@import '../../styles/breakpoints';

.mainWidth {
  margin: 0 3em;
  width: 100%;
  max-width: 1500px;

  @include media-breakpoint-up(xl) {
    margin: 0 8em;
  }

  @include media-breakpoint-down(xs) {
    margin: 0 0.5em;
  }
}
